html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
    color: #FFF6E0;
}
.navbar {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 15%;
    transition: .3s;
}

.navbar ul {
    margin: 0;
    padding: 0; /* Remova o padding aqui */
    position: fixed;
    list-style: none;
    background-color: #1c1c1c;
    width: inherit;
    height: inherit;
    border-radius: 10px;
}

.navbar ul li {
    padding: 4rem; /* Adicione o padding aos itens <li> */
    text-align: center;
}

.navbar ul li a {
    color: white; /* Estilização para os links */
    text-decoration: none;
}
.navbar .active{
    background-color: #403d39;
}
header h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}
.slideshow{
    max-width: 1300px;
    position: relative;
    margin: auto;
}
.slideshow #next,#prev{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    border-radius: 3px 0 0 3px;
    font-weight: 400;
    font-size: 3rem;
}
.slideshow #play{
    position: absolute;
    left: 50%;
    bottom: 5%;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.431);
}
.slideshow #play:hover{
    margin: auto;
    color: white;
}
.slideshow img{
    border-radius: 20px;
}
#next {
    right: 0;

}
#prev {
    left: 0;
}
  
  #prev:hover, #next:hover {
    background-color: rgba(0,0,0,0.8);
  }
.content{
    margin-left: 15%;
    padding: 15px;
}
.content section{
    padding: 30px;
    text-align: justify;
    font-weight: bold;
}
.content section hr{
    width: 20%;
    text-align: left;
    margin: 0;
}
